html {
	background-color: #7898BD;
}

body {
	margin: 2em;
	background-color: white;
	border-radius: 10%;
}

header {
	background-color: #C5D8EF;
	text-align: center;
	border-bottom: 1px solid black;
	border-radius-bottom: 40%;
	color: #7898BD;
}

.teamTables {
	display: flex;
}

.teamTable {
	display: flex;
	padding-top: 2em;
	margin: 1em auto;
}

.leaderTable {
	margin: 0 auto;
}

.leaderTable th {
	text-align: center;
}

.leaderTable table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.leaderTable th {
	text-align: center;
}

footer {
	background-color: #C5D8EF;
	text-align: center;
	border-top: 1px solid black;
	color: #7898BD;
}